/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;

  &:after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
}

timeline {

  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: #7f8c97;
  display: block;
  height: 100%;

  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a {
    color: #acb7c0;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
  }

  img {
    max-width: 100%;
  }

  h1, h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }

  header {
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: #303e49;

    h1 {
      color: white;
      font-size: 18px;
      font-size: 2.125rem;
    }


    @media only screen and (min-width: 1170px) {
      height: 300px;
      line-height: 300px;

      h1 {
        font-size: 24px;
        font-size: 2.5rem;
      }
    }

  }
  
}

/* -------------------------------- 

Main components 

-------------------------------- */

.cd-timeline {
  position: relative;
  padding: 3em 0;
  margin-top: 2em;
  margin-bottom: 3em;

  &:before {
    // this is the vertical line
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
  }

  @media only screen and (min-width: 1170px) {
    margin-top: 3em;
    margin-bottom: 3em;

    &:before {
      left: 50%;
      margin-left: -2px;
    }
  }
}

timeline-block {
  position: relative;
  margin: 2em 0;
  display: block;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media only screen and (min-width: 1170px) {
    margin: 4em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(even) {
      .cd-timeline-content {
        float: right;
        &:before {
          top: 24px;
          left: auto;
          right: 100%;
          border-color: transparent;
          border-right-color: white;
        }

        .cd-read-more {
          float: right;
        }

        .cd-date {
          left: auto;
          right: 122%;
          text-align: right;
        }



      }
    }
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);

  img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }

  &.cd-picture {
    background: #75ce66;
  }

  &.religious-event {
    background: #668fce;
  }

  &.cd-movie {
    background: #c03b44;
  }

  &.cd-location {
    background: #f0ca45;
  }

  @media only screen and (min-width: 1170px) {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;



  }

}

@media only screen and (min-width: 1170px) {
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  h2 {
    color: #303e49;
  }

  p, .cd-read-more, .cd-date {
    font-size: 13px;
    font-size: 1.8rem;
  }

  .cd-read-more, .cd-date {
    display: inline-block;
  }

  p {
    margin: 1em 0;
  }

  .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
  }


  .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
  }

  &:before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
  }


  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 20px;
      font-size: 2.25rem;
    }
    p {
      font-size: 16px;
      font-size: 1.8rem;
    }
    .cd-read-more, .cd-date {
      font-size: 14px;
      font-size: 1.875rem;
    }
  }

  @media only screen and (min-width: 1170px) {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    &:before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: white;
    }
    .cd-read-more {
      float: left;
    }
    .cd-date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 6px;
      font-size: 16px;
      font-size: 2rem;
    }
  }

}

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}

@media only screen and (min-width: 1170px) {
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Age stuff */
timeline-age {
  display: block;
}

.age-info {
  margin: 1em auto -1em auto;
  width: 50%;
  text-align:center;

  * {
    background: white;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 #d7e4ed;
  }

  h2 {
    width: auto;
    display: inline-block;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    font-size: 3em;
  }

  p {
    margin: 0.5em auto;
    text-align: left;
    font-size: 1.8rem;
  }
}

.cd-timeline-content p,
.age-info p {
    line-height: 1.4;
}