<div class="jumbotron popout">
  <h1>The Old Guard</h1>
  <h2>
    <em>Information and reference material</em>
  </h2>
</div>
<div class="popout info">
  <h2>Introduction</h2>
  <p>
    This site is a collection of reference materials for the campaign setting of The Old Guard campaign for 5th edition Dungeons and Dragons. The world in which the game is set is called Kalemin, named after the father of the gods from the <a routerLink="/timeline">world's mythos</a>.
    The content will hopefully grow over time, including information about the different races of Kalemin and how they fit into the whole, as well as information regarding the various places and prominent characters of the story. There are also plans to include various tools and widgets for DMs, such as random generators.
  </p>
  <p>
    For now, there is an admittedly sparse <a routerLink="/timeline">timeline</a> as well as a <a routerLink="/calendar">calendar</a>.
  </p>
  <p>
    The design for neither the site as a whole, nor its individual components are finalized, or even close. So feel free to let me know if you have any grand ideas.
  </p>
</div>
