index {
  
  padding: 30px;
  margin: 30px;
  display: block;

  .jumbotron {
    text-align:center;

    h2 {
      font-weight: normal;
    }
  }

  .info {
    padding: 30px;

    p {
      font-size: 1.2em;
      margin-top: 1.2em;
    }

  }
}